* {
    box-sizing: border-box;
    font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    color: #393939;
    background-color: aquamarine;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid {
    display: grid;
    width: 90vmin;
    height: 90vmin;
    grid-template-rows: auto;
    background-color: white;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5%, 1fr));
    max-width: 100%;
}
.node {
    height: 80%;
    border-radius: 50%;
    background-color: teal;
    width: 80%;
    margin: 0;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nodeText {
    border: 1px solid black;
    border-radius: 25%;
}


#header {
    text-align: center;
    letter-spacing: .2em;
    margin-bottom: 10px;
}

body {
    padding-top:10px;
}

input {
    margin: 10px;
}

label {
    font-weight: bold;
}

button {
    padding: 3px;
    margin: 3px;
}