/* * {
    box-sizing: border-box;
    font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    color: #393939;
    background-color: var(--bg-color);
} */

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.App {
  /* background-color: var(--bg-color); */
}


.App-header {
    font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
    background-color: var(--bg-color);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: cal(10px + 2vmin);
}

.mapBar {
    font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
    background-color: var(--bg-color);
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: cal(10px + 2vmin);    
}

:root {
    --bg-color: #2b2d42;

    --button-color-1: grey;
    --button-color-2: darkgrey;
    --button-color-3: white;

    --node-color-1: #2B2D42;
    --node-color-2: #FFFFFF;
    --node-color-3: red;
    --node-color-4: black;
    --node-color-5: #8d99ae;
    --node-color-6: #f8f32b;

    --cols: 18;
    --rows: 18;
    --tile-size: 20px;
    --border-width: 1px;

    color: white;
}

.button-color-1 {
    background-color: var(--button-color-1);
}
.button-color-2 {
    background-color: var(--button-color-2);
}
.button-color-3 {
    background-color: var(--button-color-3);
}

.node-color-1 {
    background-color: var(--node-color-1);
}
.node-color-2 {
    background-color: var(--node-color-2);
}
.node-color-3 {
    background-color: var(--node-color-3);
}

.button-board {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
}

.place-walls-button {
    background-color: var(--button-color-3);
}

.place-walls-button-disabled {
    pointer-events: none;
    background-color: var(--button-color-1);
}

.place-start-button {
    background-color: var(--button-color-3);
}
.place-start-button-disabled {
    pointer-events: none;
    background-color: var(--button-color-1);
}

.place-dest-button {
    background-color: var(--button-color-3)
}
.place-dest-button-disabled {
    pointer-events: none;
    background-color: var(--button-color-1);
}

.start-button {
    background-color: var(--button-color-3)
}
.start-button-disabled {
    pointer-events: none;
    background-color: var(--button-color-1);
}

.reset-button {
    background-color: var(--button-color-3)
}
.reset-button-disabled {
    pointer-events: none;
    background-color: var(--button-color-1);
}
.button-TRUE {
    background-color: yellow;
}

.grid-board {
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--tile-size));
    grid-gap: 3px;
    align-self: flex-start;
    justify-content: center;
    margin: 10px;
}

.grid-square {
    /* border-style: solid; */
    border-radius: 0%;
    width: var(--tile-size);
    height: var(--tile-size);
    border-style: solid;
    border-color: #2b2d42;
    box-sizing: border-box;
    border-width: var(--border-width);
    background-color: var(--node-color-2);
}
.grid-square:hover {
    /* border-style: solid; */
    border-radius: 0%;
    width: var(--tile-size);
    height: var(--tile-size);
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    border-width: var(--border-width);
    background-color: var(--node-color-1);
    cursor: default;
}

.grid-square-start {
    /* border-style: solid; */
    border-radius: 0%;
    width: var(--tile-size);
    height: var(--tile-size);
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    border-width: var(--border-width);
    background-image: url("./assets/start-arrow.svg");
    background-color: yellow
}
.grid-square-dest {
    /* border-style: solid; */
    border-radius: 0%;
    width: var(--tile-size);
    height: var(--tile-size);
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    border-width: var(--border-width);
    background-color: red;
}
.grid-square-wall {
    /* border-style: solid; */
    border-radius: 0%;
    width: var(--tile-size);
    height: var(--tile-size);
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    border-width: var(--border-width);
    background-color: var(--node-color-4);
}
.grid-square-visited {
    border-radius: 0%;
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    /* animation-direction: alternate; */
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards;
    animation-play-state: running; */
    width: var(--tile-size);
    height: var(--tile-size);
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    border-width: var(--border-width);
    background-color: var(--node-color-5);  
}

.mapsButtons {
    color: black;
    border: solid 1px;
    background-color: var(--button-color-3);
}

@keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: #f8f32b;
      border-radius: 100%;
    }
  
    50% {
      background-color: #2b2D42;
    }
  
    75% {
      transform: scale(1.2);
      background-color: #556177;
    }
  
    100% {
      transform: scale(1);
      background-color: #8d99ae;
    }
  }

  
.grid-square-path {
    border-radius: 5%;
    width: var(--tile-size);
    height: var(--tile-size);
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    border-width: var(--border-width);
    background-color: var(--node-color-6);  
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2%, 1fr));
    max-width: 100%;
}
.node {
    height: 80%;
    border-radius: 5%;
    background-color: white;
    width: 80%;
    margin: 0;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border-style: solid;
    border-top: 2px;
    border-width: 5px;
    border-color: black;
}

.nodeText {
    border: 1px solid black;
    border-radius: 25%;
}


#header {
    text-align: center;
    letter-spacing: .2em;
    margin-bottom: 10px;
}

body {
    padding-top:10px;
}

input {
    margin: 10px;
}

label {
    font-weight: bold;
}

button {
    padding: 3px;
    margin: 3px;
}